* {
  font-family: 'Lato', sans-serif;
}

body {
  padding:5%;
}

header {
  border-style: dotted; 
  border-width: 0.1cm;
  border-color: rgb(64, 124, 9);
  border-radius: 15px 50px;

  background-color: #77a761;

  padding: 0.1in 0.1in 0.1in 0.1in;
}

nav {
  text-align: right;
  color: hsl(0, 100%, 100%);
  padding-right: 0.2in;
  padding-top: 0em;
  padding-left: 0mm;
  padding-bottom: 0.1in;
}
nav a, a:link {
  text-decoration: none;
  color: white;
}

nav a:visited {
  color: #ccecb0;
}

section {
  margin-top: 0.1in;
  margin-bottom: 0.1in;
  margin-left: 0em;
  margin-right: 0ch;

  padding: 0.1in 0.3in 0.3in;

  border-style: dotted; 
  border-width: 0.1cm;
  border-color: rgb(64, 124, 9);
  border-radius: 15px 50px;
}

section > h2 {
  border-style: dotted; 
  border-width: 0.1cm;
  border-color: rgb(64, 124, 9);
  border-radius: 15px 50px;

  background-color: #bae09b;

  padding: 0.1in 0.1in 0.05in 0.2in;

  display:inline-block;
}

hr {
  margin: 30px 0px;
}

#love {
  margin: auto;
}

figure {
  text-align: center;
  display: block;
}
